body {
 background-image: url(img/texturalego.jpeg);
 background-repeat: no-repeat;
 font-family: 'Chakra Petch', sans-serif;
 display: flex;
 justify-content: center;
 flex-direction: column;
 }

p {
 text-align: center;
 font-size: 60px;
 -webkit-text-stroke: 2px white;
 color: transparent;
 animation-duration: 3s;
 animation-name: slidein;
}

@keyframes slidein {
 from {
   margin-left: 100%;
   width: 300%;
 }

 to {
   margin-left: 0%;
   width: 100%;
 }
}

div {
 font-family: 'Chakra Petch', sans-serif;
 font-size: 30px;
 font-weight: bold;
 -webkit-text-stroke: 2px black;
 color: transparent;
 text-indent: 40px;
 margin: 20px;
}

.cuadros {
 width: 200px;
 height: 200px;
 clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
 background-color: white;
 float: left;
}

#actividades {

}

#milogo {
 width: 200px;
 height: 200px;
 border-radius: 200px;
 position: relative;
 background-image: url(img/milogo.jpg);
 background-size: contain;
 background-repeat: no-repeat;
 margin: 0 auto;
 margin-bottom: 50px;
 margin-top: 50px;
}

#boton {
 background: none;
 background-color: white;
 border-radius: 30px;
 float: right;
 position: fixed;
 right: 0;
 bottom: 0;
 font-size: 15px;
 text-align: center;
 text-indent: inherit;
 line-height: 50px;
}

a:link {
 text-decoration: none;
}

a:visited {
 color: black;
}

a:active {
 color: blue;
}
