body {
  background-color: cyan;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h1{
  width: 350px;
  margin-left: 25px;
  text-align: center;
  margin-top: 0;
}

p{
  font-size: 18px;
  line-height: 22px;
  margin-left: 25px;
  width: 350px;
}

#menu{
  background-color: #FFF;
  height: 40px;
}

.img {
  background-repeat: no-repeat;
  background-position: 400px;
}

#coneix{
  background-color: #6C3;
  height: 550px;
  background-image: url(materials/img/img-hero-full-list.png);
}

#tot{
  background-color: #FFF;
  height: 641px;
  background-image: url(materials/img/allinone.jpg);
}

#util{
  background-color: #333333;
  color: #FFF;
  height: 500px;
  background-image: url(materials/img/curator-short.png);
}

#rapid{
  background-color: #EEECEE;
  height: 550px;
  background-image: url(materials/img/img-hero-full-list.png);
}

#facil{
  background-color: #6C3;
  height: 550px;
  background-image: url(materials/img/mobile-share.png);
}

#arreu{
  background-color: #EEECEE;
  height: 643px;
  background-image: url(materials/img/anywhere.png);
}

#footer{
  background-color: #333333;
  height: 200px;
  background-image: url(materials/img/appstore.png);
  background-repeat: no-repeat;
  background-position: 400px top;
}
