body {
  background-color: black;
}

.fachada {
  width: 200px;
  height: 200px;
  background: blue;
  position: absolute;
  left: 400px;
  top: 310px;
}

.tejado {
  width: 250px;
  height: 300px;
  background: darkblue;
  position: absolute;
  clip-path: polygon(50% 25%, 100% 50%, 50% 50%, 0% 50%);
  left: 375px;
  top: 160px;
}

.ventana1 {
  width: 50px;
  height: 50px;
  background: cyan;
  border:solid 2px white;
  position: absolute;
  left: 425px;
  top: 350px;
}

.ventana2 {
  width: 50px;
  height: 50px;
  background: cyan;
  border:solid 2px white;
  position: absolute;
  left: 515px;
  top: 350px;
}

.puerta {
  width: 50px;
  height: 70px;
  background: cyan;
  border:solid 2px white;
  position: absolute;
  left: 470px;
  top: 440px;
}

.chimenea {
  width: 30px;
  height: 70px;
  background: blue;
  position: absolute;
  left: 550px;
  top: 230px;
}

.sol {
  width: 250px;
  height: 250px;
  background: white;
  position: absolute;
  left: 1000px;
  top: 50px;
  border-radius: 100%;
}

.petalo1 {
  width: 30px;
  height: 30px;
  background: darkblue;
  position: absolute;
  margin-top: 360px;
  margin-left: 710px;
  border-radius: 100%;
}

.flor1 {
  width: 50px;
  height: 50px;
  background-color: darkblue;
  position: absolute;
  margin-top: 350px;
  margin-left: 700px;
  border-radius: 100% 0% 100% 0%;
  animation: rotacion 3s infinite linear;
}

@keyframes rotacion {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.flor2 {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  margin-top: 350px;
  margin-left: 700px;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  animation: rotacion 3s infinite linear;
}

.paloflor2 {
  width: 15px;
  height: 150px;
  background-color: cyan;
  position: absolute;
  margin-top: 380px;
  margin-left: 720px;
}

.petalo2 {
  width: 30px;
  height: 30px;
  background: darkblue;
  position: absolute;
  margin-top: 360px;
  margin-left: 810px;
  border-radius: 100%;
}

.flor3 {
  width: 50px;
  height: 50px;
  background-color: darkblue;
  position: absolute;
  margin-top: 350px;
  margin-left: 800px;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  animation: rotacion 3s infinite linear;
}

.flor4 {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  margin-top: 350px;
  margin-left: 800px;
  border-radius: 100% 0% 100% 0%;
  animation: rotacion 3s infinite linear;
}

.base {
  width: 150%;
  height: 414px;
  background: #5BB100;
  position: absolute;
  left: 0px;
  bottom: -43px;
}

.montaña1 {
  width: 570px;
  height: 450px;
  background-color: darkgreen;
  position: absolute;
  top: 60px;
  left: 0px;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.montaña2 {
  width: 525px;
  height: 400px;
  background-color: green;
  position: absolute;
  top: 110px;
  left: 400px;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.montaña3 {
  width: 450px;
  height: 400px;
  background-color: darkgreen;
  position: absolute;
  top: 110px;
  left: 1150px;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.palo1 {
  width: 14px;
  height: 110px;
  background-color: darkblue;
  position: absolute;
  left: 80px;
  top: 420px;
}

.palo2 {
  width: 14px;
  height: 110px;
  background-color: darkblue;
  position: absolute;
  left: 160px;
  top: 420px;
}

.palo3 {
  width: 14px;
  height: 110px;
  background-color: darkblue;
  position: absolute;
  left: 235px;
  top: 420px;
}

.palo4 {
  width: 14px;
  height: 110px;
  background-color: darkblue;
  position: absolute;
  left: 300px;
  top: 420px;
}

.reja {
  width: 400px;
  height: 14px;
  background-color: darkblue;
  position: absolute;
  top: 460px;
  left: 0px;
}
