body {
  background-color: pink;
}

div {
  width: 200px;
  height: 200px;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  line-height: 200px;
  margin: 10px;
  float: left;
}

#uno {
  background-color: #4A235A;
}

#dos {
  background-color: #4A235A;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#tres {
  background-color: #4A235A;
}

#cuatro {
  background-color: #4A235A;
  position: fixed;
  left: 230px;
  top: 130px;
}

#cinco {
  background-color: #4A235A;
}

#seis {
  background-color: #4A235A;
}

#siete {
  background-color: #4A235A;
}

#ocho {
  background-color: #4A235A;
  position: absolute;
  top: 500px;
  left: 200px;
}

#nueve {
  background-color: #4A235A;
}

#diez {
  background-color: #4A235A;
}
